/* global */

* {
  font-family: 'Open Sans', sans-serif; /* Do I need this if using googlefonts */
  margin: 0px;
  padding: 0px;
}

.right-panel,
.left-panel {
  color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(pink, violet, darkblue, black);
  height:800px;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  color: black;

}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 500px;
    height:400px;
    height: 30vh;
    width: 30vh;
}
